
body {
    background-color: rgb(241, 241, 241);
}

.newsfeed_body {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.left_column {
    width: 300px
}
.right_column * , .left_column *{
    background-color: #F8F9FA;
}



.popular_tag {
    width: 23%;
    position: fixed;
    top: 70px;
    padding: 8px 24px;
}

.popular_tag a:hover {
    background-color: aqua;
}
.taglist {
    display: flex;
    flex-wrap: wrap;
}

/* Center */

.user-avt img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

.post-article {
    background-color: white;
    margin-top: 16px;
    display: flex;
    padding: 16px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}


.newsfeed1 li {
    list-style: none;
}

.newsfeed_post {
    background-color: white;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}

.newsfeed_post_img img {
    margin-top: 20px;
    width: 100%;
}

.likeStats {
    font-size: small ;
}

.likeStats_line {
    height: 0.1px;
    background-color: rgb(206, 206, 206);
    margin-top: 20px;
    margin-bottom: 0px;
}

/* User comment */
.user-comment-avt img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

/* Right column */
.news-feed-top-creator {
    display: flex;
    text-decoration: none;
    height: 48px;
}

.news-feed-top-creator:hover {
    background-color: rgb(227, 225, 225);
}

.news-feed-top-creator:hover .news-feed-top-creator-avt ,
.news-feed-top-creator:hover .news-feed-top-creator-name {
    background-color: rgb(227, 225, 225);
}
.news-feed-top-creator-avt img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}

.news-feed-top-creator-name {
    margin: auto 0;
    color: black;
    font-weight: 500
}



/* Media query for mobile */
@media only screen and (max-width: 767) {
    .left_column {
        display: none;
    }

    .right_column {
        display: none;
    }
}


