
.profile_main_col {
    margin-top: 60px;
    margin-left: 20%;
}

.profile-stats {
    color: white;
    border-radius: 5px;
}

.profile-navi {
    border-radius: 5%;
}

.profile-avt {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: beige;
    margin: 20px auto 20px auto;
}

.profile_link {
    text-decoration: none;
    color: black;
    
}

.profile_link .custom-link:visited {
    color: red;
  }

.profile-recent-post li {
    list-style-type: none;
}

/* My Info */
.profile-myInfo-allphoto {
    /* position: absolute; */
}


.profile-myInfo-avt img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

/* Change Infomation */
.profile-change-avt {
    margin-top: 30px;
}

@media (max-width: 1250px) {
    .profile_main_col {
      margin-left: 250px;
    }
  }
@media (max-width: 768px) {
    .profile-prosidebar {
      display: none; 
    }
    .profile_main_col {
        margin-left: 0;
    }
}
